<mat-card class="main">
  <mat-card-header>
    <mat-card-title appFontSize>Alta de Estudiante</mat-card-title>
    <mat-card-subtitle appFontSize>Ingrese los datos</mat-card-subtitle>
  </mat-card-header>
  <br/>
  <mat-card-content>
    <div class="container">

      <form [formGroup]="form" (ngSubmit)="addStudent()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required autocomplete="off">
          <mat-error *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']">
            Nombre requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" required autocomplete="off">
          <mat-error *ngIf="form.controls['lastName'].touched && form.controls['lastName'].errors?.['required']">
            Apellido requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email" required autocomplete="off">
          <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']">
            Email requerido
          </mat-error>
          <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['pattern']">
            Formato invalido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Curso</mat-label>
          <mat-select formControlName="course">
            <mat-option *ngFor="let course of courses" [value]="course">
              {{course}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Seleccione una fecha</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="startDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <br>
        <hr>
        <button mat-raised-button type="reset">Limpiar</button>
        <button mat-raised-button color="primary"
                type="submit"
                [disabled]="form.invalid">
          Agregar Alumno
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
